
li {
    list-style-type :none;
    font-family: 'Noto Serif KR', serif;
    padding: 3%;
}
b {
    color: #4855C6;

}
#bgcolor { 
    background-color: #DEEBFF; 
   
}


#flex{
    position: absolute;
    display: flex;
    justify-content: start;
    width: 99%;
    height: 99%;
    

}

#side{
    overflow: hidden;
  
    width: 30%;
    height: 99%;
}

#icon{
    position: relative;
    background-image: url(../image/cloverpig.jpg);
    width: 75%;
    height: 35%;
    border-radius: 50%;
    
    left: 11%;
    background-size: cover;
    background-attachment: local;
    background-position: center center;
    background-repeat: no-repeat;
    
}
#icon-text{
    position: relative;
    font-family: 'Lobster', cursive;
    width: auto;
    height: auto;
    font-weight: 400;
    font-size: 250%;
    text-align: center;
    
} 
#main{
    width: auto;
    height: 15%;
    background-image: url(../image/Main.png);
    background-size: 15%;
    background-attachment: local;
    background-position: center center;
    background-repeat: no-repeat;
    cursor : pointer;
    
}
#introduce{
    width: auto;
    height: 15%;
    background-image: url(../image/introduce.png);
    background-size: 15%;
    background-attachment: local;
    background-position: center center;
    background-repeat: no-repeat;
    cursor : pointer;
    
}
#project{
    
    width: auto;
    height: 15%;
    background-image: url(../image/Project.png);
    background-size: 15%;
    background-attachment: local;
    background-position: center center;
    background-repeat: no-repeat;
    cursor : pointer;
    
}

#sidehyper{
    position: absolute;
    display: flex;
    justify-content: space-around;
    width: 30%;
    height: 15%;
}
#phone{
    width: 32%;
    float: left;
    background-image: url(../image/Phone.png);
    background-size: 45%;
    background-attachment: local;
    background-position: center center;
    background-repeat: no-repeat;
}
#email{

    width: 32%;
    float: left;
    background-image: url(../image/Email.png);
    background-size: 25%;
    background-attachment: local;
    background-position: center center;
    background-repeat: no-repeat;
}
#git{
  
    width: 32%;
    float: left;
    background-image: url(../image/GitHub.png);
    background-size: 40%;
    background-attachment: local;
    background-position: center center;
    background-repeat: no-repeat;
}

#maintxt{
    background-color: white; 
    overflow: auto;
    width: 70%;
    height: 99%;   
   

   
}
#title{
    width: 100%;
    display: flex;
    justify-content: space-between;

}
@keyframes Lshake {
    0% {
        
    }
    50%{
        
        margin-left : 10%;
        transform: translate(50px,50px);
    }
    100%{
        
        margin-left: 20%;
        transform : rotate(45deg)
    }
    
}
@keyframes Rshake {
    0% {
        
    }
    50%{
        
        margin-right : 10%;
        transform: translate(50px,50px);
    }
    100%{
        
        margin-right: 20%;
        transform : rotate(-45deg)
    }
    
}
.lani{ animation: Lshake 2s infinite alternate; }
.rani{ animation: Rshake 2s infinite alternate; }

.arrow_box {
    display: none;
    position: absolute;
    width: 100px;
    padding: 8px;
    left: 0;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background: #333;
    color: #fff;
    font-size: 14px;
  }
  .arrow_box:after {
    position: absolute;
    bottom: 100%;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -10px;
    border: solid transparent;
    border-color: rgba(51, 51, 51, 0);
    border-bottom-color: #333;
    border-width: 10px;
    pointer-events: none;
    content: ' ';
  }
  
  div:hover + p.arrow_box {
    display: block;
  }

#Ltitleimg{
    width: 20%;
    background-image: url(../image/cloverpig.jpg);
    background-size: cover;
    background-attachment: local;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50%;

}
#Rtitleimg{
    width: 20%;
    background-image: url(../image/cloverpig.jpg);
    background-size: cover;
    background-attachment: local;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50%;

}
#titletext{
    width: 30%;
    margin-bottom: 5%;
    clear: both;
    text-align: center;
    padding-top: 4%;
    font-family: 'Noto Serif KR', serif;    
    font-size: 240%;
    overflow: auto;
}
#protext{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-around;

}
#profiletitle{
    width: auto;
    height: auto;
    
    font-family: 'Lobster', cursive;
    border: 2px solid #DEEBFF;
    border-radius: 100px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    font-size: 150%;

}
#pro{
    overflow: auto;
    width: 80%;
    float: left;
    

}
#hob{
    overflow: auto;
    width: 80%;
    float: left;
   

}
#intro{
    overflow: auto;
    width: 100%;
    float: left;

}
#edutitle{
    width: auto;
    height: auto;
    clear: both;
    border: 2px solid #DEEBFF;
    border-radius: 100px;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 150%;

}
#eduandcatext{
    height: 17%;
    padding-top: 5%;
    overflow: auto;
    display: flex;
    justify-content: space-around;
   
}

#education{
    overflow: auto;
    width: 50%;
 
    display: flex;
    justify-content: center;
}
#edimg{
    width: 15%;
    height: 50%;
    background-image: url(../image/Education.png);
    background-size: 100%;
    background-attachment: local;
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    margin-right: 5%;

}


#career {
    overflow: auto;
    width: 50%;

    display: flex;
    justify-content: center;
}
#careerimg{
    width: 15%;
    height: 50%;
    background-image: url(../image/Employee.png);
    background-size: 100%;
    background-attachment: local;
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    margin-right: 5%;
}



#skilltitle{
    width: auto;
    font-family: 'Lobster', cursive;
    clear: both;
    border: 2px solid #DEEBFF;
    border-radius: 100px;
    text-align: center;
    font-size: 150%;
    
}
#skillicon{
    width: 100%;
    height: 21%;
    overflow: auto  
}
#java{
    float: left;
    width: 20%;
    height: 90%;
    background-image: url(../image/Java.png);
    background-size: 70%;
    background-attachment: local;
    background-position: center center;
    background-repeat: no-repeat;
}   

#oracle{
    float: left;
    width: 20%;
    height: 100%;
    background-image: url(../image/ORACLE.png);
    background-size: 80%;
    background-attachment: local;
    background-position: center center;
    background-repeat: no-repeat;
}
#CSS3{
    float: left;
    width: 20%;
    height: 100%;
    background-image: url(../image/CSS3.png);
    background-size: 70%;
    background-attachment: local;
    background-position: center center;
    background-repeat: no-repeat;
}
#JavaScript{
    float: left;
    width: 20%;
    height: 100%;
    background-image: url(../image/JavaScript.png);
    background-size: 70%;
    background-attachment: local;
    background-position: center center;
    background-repeat: no-repeat;
}
#React{
    float: left;
    width: 20%;
    height: 98%;
    background-image: url(../image/React.png);
    background-size: 65%;
    background-attachment: local;
    background-position: center center;
    background-repeat: no-repeat;
}
