div,p {
    font-family: 'Lobster', cursive;   
}
a{
   text-decoration: none;
}
a:visited {
    color: black;
    text-decoration: none;
}

#bgcolor { background-color: #DEEBFF; }

#outer{    
    position: absolute;

    width: 99%;
    height: 99%;
    

}

#main-pig{ 
    background-image: url(../image/cloverpig.jpg);
    position: absolute;
    width: 40%;
    height: 50%;
    margin-left: -20%;
    left: 50%;
    margin-top: -9%;
    top: 23%; 
    border-radius: 50%;
    background-size: cover;
    background-attachment: scroll;
    background-position: center center;
    background-repeat: no-repeat;
   

}
#cloverpig{
   
    position: absolute;
    width: 100%;
    height: auto;
    top: 60%;
    margin-left: -50%;
    left: 50%;
    
    
    font-weight: 400;
    font-size: 1200%;
    text-align: center;

    
}
#enter{
    position: absolute;
    width: 100%;
    height: auto;
    top: 100%;
    margin-left: -50%;
    left: 50%;
    
    font-weight: 400;
    font-size: 30%;
    text-align: center;

    
}

@media(max-width:600px) {

    #main-pig{ 
        background-image: url(./cloverpig.jpg);
        position: absolute;
        width: 30%;
        height: 15%;
        margin-left: 15%;
        left: 15%;
        margin-top: -5%;
        top: 7%; 
        border-radius: 50%;
        background-size: cover;
        background-attachment: scroll;
        background-position: center center;
        background-repeat: no-repeat;
    
    
    }
    #cloverpig{
       
        position: absolute;
        width: 100%;
        height: auto;
        top: 20%;
        margin-left: -55%;
        left: 50%;
        
        
        font-weight: 400;
        font-size: 140%;
        text-align: center;
    
        
    }
    #enter{
        position: absolute;
        width: 100%;
        height: auto;
        top: 100%;
        margin-left: -50%;
        left: 50%;
        
        font-weight: 400;
        font-size: 60%;
        text-align: center;
    
        
    }

    


}
